[user]
	name = Ilaria Venturini
	email = venturini.ila@gmail.com
[core]
	excludesfile = /Users/ilariaventurini/.gitignore_global
	pager = cat
[alias]
  up = !"git fetch --prune --progress && git fetch origin master:master && git rebase --autostash origin/master"
[merge]
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[http]
	postBuffer = 157286400
[pull]
	rebase = true
